*{
    box-sizing: border-box;
--light:aliceblue;
--dark: black;
--button: black; 

}
body{
    background-image: url("../images/starwars3.jpg"); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
}
li{
    display: inline-flex;
    justify-content: space-evenly;
    color: #fff;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px var(--dark);
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: yellow;
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    margin-top: 80px;
  }






/*Form*/


h1{
    color: white;
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
}
form{
    max-width: 400px;
  }
  
  form h3 {
    font-size: 150%;
  }
  
  form p {
    margin: 2% 0;
  }
 
 


form {
  max-width: 400px;
}
form p {
  margin: 3% 0;
  padding: 5px;
}

.get-started {
  background-color: var(--dark);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  margin-left: 8%;
  
}
h3{
  background-color: yellow;
  padding: 5px;
  color: black;
  opacity: 0.8;
}
.get-started:hover{
    background-color: yellow;
    color: black;
    opacity: 0.8;
   
}

.user-info{
  display: flex;
  justify-content: center;
  border: solid 3px var(--dark);
  background: url(../images/starwars\ \(4\).png);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  margin-top: 30px;
}